<div class="jankx-copyright">
    {{ open_container }}
        <div class="text">
            <?php echo $copyright; ?>
            <?php echo $credit_message; ?>
        </div>
    {{ close_container }}
</div>
